* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  margin-top: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.justify-between {
  justify-content: space-between;
}

.flex > ul {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.flex > ul > li {
  margin: 0 10px 0 10px;
}

.flex > ul > li > a {
  color: rgb(84, 76, 76);
}

.btn {
  border: 1px solid gray;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
}

.btn-outline {
  color: #185abc;
  background-color: transparent;
}

.btn-primary {
  background-color: #185abc;
  color: white;
}

.showcase {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
}

.alert-info {
  width: 80%;
  margin: 5% auto;
  text-align: center;
  background-color: #185abc58;
  border-radius: 20px;
  padding: 10px;
  color: #185abc;
}

.showcase {
  text-align: center;
}

.showcase-main-text > h1 {
  font-size: 80px;
  font-weight: 700;
}

.showcase-main-text > h1:nth-child(2) {
  color: #185abc;
}

.showcase-main-text > p {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(107, 96, 96);
}

.showcase-main-text > button {
  margin-top: 10px;
  font-weight: normal;
}

/*  */

.tabs-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.tabs-section .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;

  height: 600px; /* Set a fixed height to prevent resizing */
  overflow: hidden; /* Hide overflow content to prevent layout shifts */
}

.tabs-section .container h1 {
  font-size: 40px;
}

.tabs-section .container .flex {
  display: flex;
  gap: 20px;
  height: 100%;
}

.tabs ul {
  list-style: none;
  padding: 0;
}

.tabs li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.tabs li.active {
  background-color: #ececec;
  border-color: #bbb;
}

.tabs li i {
  margin-right: 10px;
}

.tabs li:hover {
  background-color: rgba(128, 128, 128, 0.121);
}

.image-content {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-image {
  display: none;
}

.tab-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.right-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Maintain consistent height */
  text-align: left;
}

.right-text > div h1 {
  font-size: 30px;
}

.tab-content {
  display: none;
}

h1 {
  margin-bottom: 15px;
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 0;
  height: 100%; /* Ensures that text does not cause height changes */
}

.theme {
  text-align: center;
  height: 100vh;
  position: relative;
  margin-top: 10rem;
}

.theme .container h1 {
  font-size: 40px;
}

.theme .container {
  position: relative;
}

.theme .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;

  background: linear-gradient(
    to bottom,
    rgba(0, 8, 255, 0.081),
    rgba(0, 102, 255, 0)
  );
  clip-path: circle(50% at 49% 74%);
  z-index: -1;
}
